body {

}

.header {
  background-image: url("../images/kale-farm.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

/* all map containers must be full height */
html, body, .container-fluid, .row, .map {
  height: 100%
}

#map-canvas {
  width: 100%;
  height: 100%;
}

#kaluaPorkPicture, #farmerPicture{
  height: 50%;
  width: 60%;
}

.recipe_image {
  height: 100px;
  display: block;
  padding-right: 25px;
}

.produce_image {
  height: 100px;
  display: block;
  padding-right: 25px;
}

.recipe_well {
  margin-bottom: 100px;
}

.cookbook_search {
  padding-bottom: 25px;
}
.recipe {
  padding-bottom: 75px;
}

.recipe h2 {
  padding-bottom: 25px;
}
.recipe img {
  background-image: url("../images/recipe-1.jpg");
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: 25px;
  float: left;
  padding: 10px;
}

#homepage {
  padding-left: 30px;
}

#homepage div.horizontal {
  width: 100%;
  height: 150px;
  overflow: auto;
}

#homepage .table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

#homepage article {
  width: 300px;
  height: 150px;
  display: table-cell;
  background: #e3e3e3;
  vertical-align: middle;
  text-align: center;
}

#homepage article:nth-child(2n+2) {
  background: #d1d1d1;
}

#homepage .input-group {
  padding-top: 10px;
  padding-bottom: 20px;
}

#homepage .well {
  padding-top: 20px;
}

#picture {
  float: left;
  height: 100px;
  padding-right: 20px;
}

.media-object {
  height: 64px;
  width: 64px;
}

.gm-style-iw {
  color: #000000;
}

.fa-times {
}

.login-form {
  margin-left: 30px;
}
