@(consumer: Consumer)

    @Main("Page1") {
        <div id="homepage">
            <div class="row">
                <div class="col-sm-4">
                    <a class="btn btn-lg btn-block btn-success" type="button" href="@routes.Application.availableNow()">
                    Fresh & Available Right Now</a>
                            <div class="input-group">
                                <input type="text" class="form-control" aria-label="...">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Search . . . <span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a href="#">Search Farmers</a></li>
                                        <li><a href="#">Search Ingredients</a></li>
                                        <li><a href="#">Search Recipes</a></li>
                                        <li><a href="#">Search Friends</a></li>
                                    </ul>
                                </div><!-- /btn-group -->
                            </div><!-- /input-group -->
                </div>

                <div class="col-sm-8">
                    <div class="well">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="@routes.Assets.at("images/farmPicture.jpg")">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Nalo LIFE</h4>
                                We just ran out of kale. But we still have lots of other fresh vegetables waiting
                                to be bought! Come see us at the Windward Mall Farmers market!
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="@routes.Assets.at("images/farmPicture.jpg")">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Aloun Farms</h4>
                                Our hard-working farmers just finished picking some fresh kale! Come see us on
                                Saturday morning at KCC for your weekly dose of kale!
                            </div></div>
                    </div>
                </div>
            </div>
        </div>


    }