@(farmerList: List[Farmer])

@Main("Farmer's Dashboard") {
  @for(farmer <- farmerList) {
    <div class="container">
        <div class="col-md-6">
          <div class="well">
            <img src="@routes.Assets.at("images/farmPicture.jpg")" id="farmerPicture">
            <h2>Contact Information</h2>
            <ul>
              <li>@farmer.getName()</li>
            </ul>
            <h2>Markets</h2>
            <ul>
              <li>@farmer.getLocation </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="well">
            <h2>Inventory</h2>
            <table class="table table-striped table-bordered">
              <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Stock</th>

              </tr>

              @for(ingredient <- farmer.getIngredientList) {
                <tr>
                  <td>@ingredient.getName()</td>
                  <td>$@ingredient.getPrice() per lb.</td>
                  <td>@ingredient.getQuantity</td>
                  }
            </tr>
            </table>
          </div>
        </div>
      </div>
  }
}