@(contactForm: Form[views.loginData.LoginData], loginTypeMap: Map[String, Boolean])

@import views.html.helper._
@import views.html.bootstrap3._


@Main("Home") {
    <div class="row">

    <div class = "col-sm-4">
        <div class = "login-form">
        <h3> <i class="fa fa-leaf"></i> Login</h3>
        @form(routes.Application.login(), 'class -> "form-horizontal") {
        <input type ="hidden" name="@contactForm("id").name" id="@contactForm("id").id" value="@contactForm("id").value">

            <!-- Name -->
        @text(contactForm("name"),
            label = "Username",
            placeholder = "Username",
            help = "")

            <!-- UserType -->
        @bootstrap3.select(contactForm("loginType"),
            label = "Login",
            optionMap = loginTypeMap,
            isMultiple = false,
            help = "")

            <button class="btn btn-md btn-block btn-success" type="submit">Login</button>
            <a class="btn btn-md btn-block btn-success" style="margin-top:10px;" type="button" href="@routes.Application.availableNow()">Not a member yet? Sign up now!</a>
        }</div>
    </div>

        <div class="col-sm-8">
            <h2>Welcome to Kale With Friends!</h2>
        </div>
    </div>
}



