@(page: String, isLoggedIn: Boolean, farmer: Farmer)


@Main("Home", isLoggedIn, farmer) {
    <div class="row">
      <div class = "col-sm-4">
        <h3>Recent News</h3>
        @for(feed <- FeedDB.getFeeds()) {
          <div class="well">
            <div class="recipe">
              <img src="@routes.Assets.at(feed.getFarmer().getPictureLocation())">
              <a href="@routes.Application.farmersProfile(feed.getFarmer().getName())"><h4>@feed.getFarmer().getName() @feed.printDate()</h4></a>
              <p>@feed.getEntry()</p>
            </div>
          </div>
        }
      </div>
      <div class="index_header">
        <div class = "col-sm-4">
          <h3>Welcome to Kale With Friends!</h3><h5>We're more than just kale!</h5>
          <p>
            Kale With Friends connects you with local farmers so you can find the best, fresh, local produce in your area.</p>
          <p>Head over to the <a href="@routes.Application.farmersMarkets()">Markets</a>
            section to check out events in your area.</p>
          <p>The <a href="@routes.Application.mealPlanner()">Meal Planner</a>
            page shows all the recipes you can make from fresh local ingredients currently available.</p>
          <p>Or, if you're a farmer and want to get involved, <a href="@routes.Application.signUp()">Sign Up</a>
            and get connected to your customers today!</p>
        </div>
        <div class = "col-sm-4 hidden-xs">
          <img src="@routes.Assets.at("images/kale.jpg")">
        </div>
      </div>
    </div>
  }



