@(page: String, isLoggedIn: Boolean, farmer: Farmer)

@import views.html.helper._
@import views.html.bootstrap3._


@Main("Home", isLoggedIn, farmer) {
    <div class="row">

    <div class = "col-sm-8 col-sm-offset-4">
            <img style="height:200px; float:left; padding-right:15px;" src="@routes.Assets.at("images/kale.jpg")">
            <h2>Welcome to Kale With Friends!</h2><br>
            <p style="margin-right: 30px;">Eating local produce is healthy, often tastier, and helps boost the local economy, but knowing what is available and getting it when it's at its at its freshest can be a challenge. Kale With Friends is a hot new app that solves this problem by connecting consumers and producers. Through KWF, everyone is aware of what is available nearby, where to buy it and how much it costs. If you grow produce, whether in a backyard garden or on a large scale commercial farm, and are interested in selling it, KWF will bring the local consumers to you. If you are a consumer just looking for local produce, we will make shopping much easier for you.
            Farmers can easily update their produce stock to let their consumers know what is currently available and where they will be selling them. Consumers can easily find nearby events and farms to see what is fresh and available, where to buy it, and even create meals based on what is currently fresh and available nearby. To join in on the fun, start using Kale With Friends today!</p>
        </div>
    </div>
}



