@(message: String)

<!DOCTYPE html>

@Main("Local") {

}

<html>
    <head>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-md-4">
                    <h1>List of Markets/Events</h1>
                    <h2>List #1</h2>
                    <h3>List #2</h3>
                    <h4>List #3</h4>
                    <h5>List #4</h5>
                    <h6>List #5</h6>
                    <h7>List #6</h7>
                    <h8>List #7</h8>
                    <h9>List #8</h9>
                    <h10>List #9</h10>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8 map">
                    <script type="text/javascript"
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBs-9OW6VqNBsZWzQrLQP1-8vJe4MH-l7w">
                    </script>
                    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
                    <script>
                    var map ;
                    var infowindow ;

                    function initialize ( ) {
                    var honolulu = new google.maps.LatLng ( 21.297, - 157.816 ) ;

                    map = new google.maps.Map ( document.getElementById ( 'map-canvas' ), {
                    center : honolulu,
                    zoom : 15
                    } ) ;

                    var request = {
                    location : honolulu,
                    radius : 500,
                    types :[ 'store' ]
                    } ;

                    infowindow = new google.maps.InfoWindow ( ) ;
                    var service = new google.maps.places.PlacesService ( map ) ;
                    service.nearbySearch ( request, callback ) ;
                    }

                    function callback ( results, status ) {
                    if ( status == google.maps.places.PlacesServiceStatus.OK ) {
                    for ( var i = 0 ; i < results.length ; i ++ ) {
                    createMarker ( results[ i ] ) ;
                    }
                    }
                    }

                    function createMarker ( place ) {
                    var placeLoc = place.geometry.location ;
                    var marker = new google.maps.Marker ( {
                    map : map,
                    position : place.geometry.location
                    } ) ;

                    google.maps.event.addListener ( marker, 'click', function ( ) {
                    infowindow.setContent ( place.name ) ;
                    infowindow.open ( map, this ) ;
                    } ) ;
                    }

                    google.maps.event.addDomListener ( window, 'load', initialize ) ;

                    </script>
                    <div id="map-canvas"></div>
                </div>
            </div>
        </div>
    </head>
</html>