@(message: String, marketList: List[Market], isLoggedIn: Boolean, farmer: Farmer)

@Main("Welcome to markets.", isLoggedIn, farmer) {
    <div class="container">
        <div class="well"><h1>Farmers Markets</h1></div>
        <div class="well">
            <ul class="list-group">
            @for(market <- marketList) {
                <div class="row">
                    <div class="col-sm-12">
                        <li class="list-group-item"><h4><a href="#@market.getMarketName">@market.getMarketName</a></h4>
                            <ul><li><h6><a href="https://www.google.com/maps/place/@market.getLocation">@market.getLocation</a></h6></li></ul>
                        </li>
                    </div>
                </div>
            }
            </ul>
        </div>

        @for(market <- marketList) {
            <h3><a name="@market.getMarketName">@market.getMarketName</a></h3>
            @for(farmer <- market.getFarmers) {
                @for(ingredient <- farmer.getFreshIngredientList) {
                    <div class="col-md-4">
                        <div class="well">
                            <a href="@routes.Application.farmersProfile(farmer.getName)"> <img src="@routes.Assets.at(ingredient.getImage())" class="produce_image"></a>
                            <ul class="list-unstyled">
                                <li>@ingredient.getName()</li>
                                <li>$@ingredient.getPrice() per lb.</li>
                                <li><a href="@routes.Application.farmersProfile(farmer.getName)">@farmer.getName()</a></li>
                                <li>Quantity:
                                    @if(ingredient.getQuantity / 2 < 2) {
                                        <i class="fa fa-sun-o"></i>
                                    } else {
                                        @for(a <- 1 until ingredient.getQuantity / 2) {
                                            <i class="fa fa-certificate"></i>
                                        }
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            }
        }
    </div>
}