@(recipeList: List[Recipe], isLoggedIn: Boolean, farmer: Farmer)


@Main("Recipe", isLoggedIn, farmer) {
  @for(recipe <- recipeList){
  <div class="container">
      <div class="well">

        <h1>@recipe.getName</h1>

        <img src="@routes.Assets.at(recipe.getImagePath)" class="recipe_image">

          <h3><div class="recipe_header">INGREDIENTS</div></h3>
          <hr>
        <ul>
          @for(ingredient <- recipe.getIngredientList){
            <li>@ingredient.getName()</li>
          }
        </ul>
      </div>

      <div class="well">
        <h3><div class="recipe_header">DIRECTIONS</div></h3>
          <hr>
        <ol>
          @for(procedure <- recipe.getProcedure()){
            <li><p>@procedure.getProcedure()</p></li>
          }
            <!-- Source: https://uscgwifey.wordpress.com/tag/kalua-pig/ -->
        </ol>
      </div>
    </div>
  }
}