@(contactForm: Form[views.loginData.SignUpForm], loginTypeMap: Map[String, Boolean])

@import views.html.bootstrap3._
@import views.html.helper._


@Main("Home") {
    <div class="row">

        <div class = "col-sm-4 col-sm-offset-4">
        @form(routes.Application.postSignUp(), 'class -> "form-horizontal") {
            <input type ="hidden" name="@contactForm("id").name" id="@contactForm("id").id" value="@contactForm("id").value">

                <!-- Name -->
            @text(contactForm("name"),
                label = "Username",
                placeholder = "Username",
                help = "")

                <!-- UserType -->
            @bootstrap3.select(contactForm("type"),
                label = "Login",
                optionMap = loginTypeMap,
                isMultiple = false,
                help = "")

            <button class="btn btn-lg btn-block btn-success" type="submit">Sign up</button>
        }</div>
    </div>
}
